<div class="container">
  <div class="row">

    <div class="jumbotron">
      <h1 class="display-3">CRUD con Firebase y Angular2!</h1>
      <p class="lead">En esta pequeña aplicación se ha creado un sistema CRUD para Leer,Instar,Editar y Eliminar datos
      que el usuario decide en cada momento. A sido posible gracias al Restfull Api que proporciona Firebase.</p>
      <hr class="my-4">
      <p>Esta aplicación me ha servido de gran ayuda para comprender el modulo <strong>Http</strong> de <strong>Angular 2</strong></p>
      <p class="lead text-center">
        <a class="btn btn-primary btn-lg" [routerLink]="['/datos']" role="button">Comenzar a Usar la aplicación</a>
      </p>
    </div>

  </div>

</div>
