<div class="container">
  <div class="row">

  <div class="col-md-12 boton-insertar">
    <button class="btn btn-primary" [routerLink]="['/registro/','nuevo']"><i class="fa fa-plus-circle" aria-hidden="true"></i> Insertar Registro
    </button>
  </div>

    <table class="table table-inverse">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Cargo</th>
        <th>Descripción</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let registro of datosMostrar">
        <td>{{registro.nombre}}</td>
        <td>{{registro.cargo}}</td>
        <td>{{registro.descripcion}}</td>
        <td><button class="btn btn-primary" (click)="editar(registro.keyz)">Editar</button></td>
        <td><button class="btn btn-danger" (click)="eliminar(registro.keyz)">Eliminar</button></td>
      </tr>

      </tbody>
    </table>

    <div class="alert alert-info" role="alert" *ngIf="eliminando">
      <p><i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        <strong>Estamos Eliminando los datos, por favor espere...</strong></p>
    </div>

  </div>
</div>
