<div class="container">
  <div class="row">

  <div class="col-md-12 boton-insertar">
    <button class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Insertar Registro
    </button>
  </div>

    <table class="table table-inverse">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Cargo</th>
        <th>Descripción</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      </tbody>
    </table>

  </div>
</div>
