<div class="container separador">
  <h2 class="text-center">Completa el siguiente formulario y pulsa sobre el boton guardar</h2>
  <hr>
  <div class="row">

    <form>
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre" required
        [(ngModel)]="datosUsuario.nombre" name="nombre">
      </div>

      <div class="form-group">
        <label>Cargo</label>
        <input type="text" class="form-control" placeholder="Cargo" required
        [(ngModel)]="datosUsuario.cargo" name="cargo">
      </div>

      <div class="form-group">
        <label>Descripcion</label>
        <textarea type="text" class="form-control altura-area" placeholder="Descripcion" required
        [(ngModel)]="datosUsuario.descripcion" name="descripcion"></textarea>
      </div>
      <button class="btn btn-outline-primary"
      type="submit" (click)="enviarDatos()"><i class="fa fa-floppy-o" aria-hidden="true"> </i>
        Guardar</button>
    </form>

  </div>

</div>
